<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="info.entom.cordova-plugin-clear-push-notification"
        version="0.1.0">

    <name>cordova-plugin-clear-push-notification</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/clearnotification.js" target="js/clearnotification.js"/>

    <js-module src="www/clearnotification.js" name="clearnotification">
        <clobbers target="clearnotification"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Clearnotification">
                <param name="android-package" value="info.entom.plugin.Clearnotification"/>
            </feature>
        </config-file>
        <source-file src="src/android/Clearnotification.java" target-dir="src/info/entom/plugin/"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="Clearnotification">
                <param name="ios-package" value="Clearnotification"/>
            </feature>
        </config-file>
        <header-file src="src/ios/Clearnotification.h" target-dir="Clearnotification"/>
        <source-file src="src/ios/Clearnotification.m" target-dir="Clearnotification"/>
    </platform>
</plugin>